*.json
*.mat
*.npy
*.npz
*.zip
*.tar
*.avi
*.mp4
*.webm
*.png
*.jpg
*.JPG
*.PNG
__pycache__/
.idea/
src/human_hand_prior/output/
src/human_hand_prior/output/log/
src/human_hand_prior/output/snapshot/
src/human_hand_prior/main/lightning_logs/
*.ckpt

